#App {
  background-image: url("./assets/img/arabic-coffee.jpg");
  background-size: cover;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
gap: 0;
}

header {
  grid-area: 1 / 1 / 2 / 6;
}
nav {
  grid-area: 2 / 1 / 7 / 2;
}
footer {
  grid-area: 7 / 1 / 8 / 6;
}

main {
  grid-area: 2 / 2 / 7 / 6;
} 

footer {
  height: 100%;
  background-color: black;
  margin-top: auto;
  color: white;
  text-align: center;
}

